<nz-switch [(ngModel)]="loading"></nz-switch>
<div nz-row
     nzGutter="24">
    <div nz-col
         nzSpan="8">
        <nz-card [nzLoading]="loading">
            <nz-card-meta nzTitle="Card title"
                          nzDescription="This is the description"></nz-card-meta>
            <div class="inner-container">
                <nz-badge [nzCount]="99"><a class="head-example"></a></nz-badge>
                <nz-badge [nzCount]="200"><a class="head-example"></a></nz-badge>
                <nz-badge [nzCount]="200"
                          [nzOverflowCount]="10"><a class="head-example"></a></nz-badge>
                <nz-badge [nzCount]="10000"
                          [nzOverflowCount]="999"><a class="head-example"></a></nz-badge>

                <button nz-button
                        (click)="createNotification('success')">Success</button>
                <button nz-button
                        (click)="createNotification('info')">Info</button>
                <button nz-button
                        (click)="createNotification('warning')">Warning</button>
                <button nz-button
                        (click)="createNotification('error')">Error</button>
            </div>
        </nz-card>

        <nz-card [nzLoading]="loading">
            <nz-card-meta nzTitle="Statistics"
                          nzDescription="This is the description">
            </nz-card-meta>
            <div class="inner-container">
                <nz-progress [nzPercent]="75"
                             nzType="circle"
                             [nzFormat]="formatOne"></nz-progress>
                <nz-progress [nzPercent]="100"
                             nzType="circle"
                             [nzFormat]="formatTwo"></nz-progress>
                <nz-progress [nzPercent]="27"
                             nzType="circle"
                             [nzFormat]="formatThree"></nz-progress>
            </div>
        </nz-card>
    </div>
    <div nz-col
         nzSpan="14">
        <nz-list [nzDataSource]="listData"
                 [nzRenderItem]="item"
                 [nzItemLayout]="'vertical'">
            <ng-template #item
                         let-item>
                <nz-list-item [nzContent]="loading?' ':item.content"
                              [nzActions]="loading?[]:[starAction,likeAction,msgAction]"
                              [nzExtra]="loading?'':extra">
                    <nz-skeleton [nzLoading]="loading"
                                 [nzActive]="true"
                                 [nzAvatar]="true">
                        <ng-template #starAction><i nz-icon
                               type="star-o"
                               style="margin-right: 8px;"></i> 156</ng-template>
                        <ng-template #likeAction><i nz-icon
                               type="like-o"
                               style="margin-right: 8px;"></i> 156</ng-template>
                        <ng-template #msgAction><i nz-icon
                               type="message"
                               style="margin-right: 8px;"></i> 2</ng-template>
                        <nz-list-item-meta [nzAvatar]="item.avatar"
                                           [nzTitle]="nzTitle"
                                           [nzDescription]="item.description">
                            <ng-template #nzTitle><a href="{{item.href}}">{{item.title}}</a></ng-template>
                        </nz-list-item-meta>
                        <ng-template #extra>
                            <img width="272"
                                 alt="logo"
                                 src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
                        </ng-template>
                    </nz-skeleton>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </div>
</div>