<form nz-form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="5"
                   nzRequired
                   nzFor="note">Team name</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input id="name"
             type="text"
             nz-input
             formControlName="name">
      <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">Please input a name!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="12"
                     [nzOffset]="5">
      <button nz-button
              nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>

<div>
  <div nz-row
       [nzGutter]="8">
    <div *ngFor="let obj of displayData"
         nz-col
         [nzSpan]="8">
      <nz-card nzTitle="{{obj.data.name}}"
               [nzActions]="[actionEdit,actionDelete]">
        <p>{{obj.data.createdBy}}</p>
        <p>{{obj.data.createdDate | date: 'dd. MMMM yyyy'}}</p>
      </nz-card>
      <ng-template #actionEdit>
        <a routerLinkActive="active"
           routerLink="/team/{{obj.id}}">
          <i nz-icon
             type="edit"></i>
        </a>
      </ng-template>
      <ng-template #actionDelete>
        <i nz-icon
           (click)="deleteTeam(obj.id)"
           type="delete"></i>
      </ng-template>
    </div>
  </div>
</div>