host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;

}

:host ::ng-deep .trigger:hover {
    color: #1890ff;
}

:host ::ng-deep .logo {
    height: 32px;
    margin: 16px;
}

.content-container {
    background: #fff;
    padding: 24px;
    min-height: calc(100vh - 184px);
}