<nz-layout>
    <nz-sider nzCollapsible
              [(nzCollapsed)]="isCollapsed"
              (mouseover)="isCollapsed=false">
        <img class="logo"
             src="assets/skillz_logo.png">
        <ul nz-menu
            [nzTheme]="'dark'"
            [nzMode]="'inline'"
            [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item
                [routerLink]="[ '/dashboard' ]"
                routerLinkActive="active">
                <span title>
                    <i nz-icon
                       type="dashboard"></i>
                    <span class="nav-text">Dashboard</span>
                </span>
            </li>
            <li nz-menu-item
                [routerLink]="[ '/dashboard' ]"
                routerLinkActive="active">
                <span title>
                    <i nz-icon
                       type="team"></i>
                    <span class="nav-text">My Teams</span>
                </span>
            </li>
            <li nz-menu-item
                [routerLink]="[ '/skills' ]"
                routerLinkActive="active">
                <span title>
                    <i nz-icon
                       type="bars"></i>
                    <span class="nav-text">Skill List</span>
                </span>
            </li>
            <!-- <li nz-submenu>
                <span title><i nz-icon
                       type="team"></i><span class="nav-text">Team</span></span>
                <ul>
                    <li nz-menu-item>Table List</li>
                    <li nz-menu-item>Create Form</li>
                    <li nz-menu-item>Edit Form</li>
                    <li nz-menu-item>View Form</li>
                </ul>
            </li> -->
        </ul>
    </nz-sider>
    <nz-layout (mouseover)="isCollapsed=true">
        <nz-header style="background: #001529; padding:8px;">
        </nz-header>
        <nz-content style="margin:0 16px;">
            <nz-breadcrumb style="margin:16px 0;">
                <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs$ | async">
                    <a [routerLink]="[breadcrumb.url, breadcrumb.params]">
                        {{ breadcrumb.label }}
                    </a>
                </nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="content-container">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer style="text-align: center;">Design by Chakib Benhaddou</nz-footer>
    </nz-layout>
</nz-layout>
<ng-template #trigger>
    <i nz-icon
       type="up"></i>
</ng-template>