/* You can add global styles to this file, and also import other style files */

app-dashboard {
    position: unset !important;
}

app-team {
    position: unset !important;
}

app-member {
    position: unset !important;
}

app-skill {
    position: unset !important;
}